/* Cabecera */
header {
    padding: 20px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Mantiene el header fijo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Encima de otros elementos */
    background-color: rgba(82, 87, 85, 0.9); /* Fondo semi-transparente */
    backdrop-filter: blur(5px); /* Desenfoque */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra */
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    opacity: 0.7;
}

/* Ícono de Instagram */
.social-icon {
    margin-left: 30px;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #ffffff;
    opacity: 0.7;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        padding: 20px 0; /* Reducido para móviles */
    }
    
    header .container {
        flex-direction: column;
        text-align: center;
    }
    
    nav {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
    }
    
    nav ul {
        margin-top: 15px;
    }
    
    nav ul li {
        margin: 0 12px; 
        font-size: 14px; 
    }
    
    .social-icon {
        margin-left: 20px;
        font-size: 20px; 
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 0 8px; 
        font-size: 12px; 
    }
    
    nav ul li a {
        font-size: 14px; 
    }
    
    .social-icon {
        margin-left: 15px;
        font-size: 18px;
    }
}
